@import url("https://use.typekit.net/xmi1euk.css");


* {
    box-sizing: border-box; /* prevents horz scrolling */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    cursor: url('images/cursor.png'), auto;
}

.left {
    background: url('images/IMG_0168.JPG') center / cover no-repeat;

    flex: 0 0 25%;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden;
}

.right {
  background: url('images/IMG_0166.JPG') center / cover no-repeat;
  min-height: 100vh;   /* full height of screen */
  width: 100%;         /* full width */
  display: flex;
  flex-direction: column;
  align-items: center; /* centers windows */
  gap: 50px;           /* spacing between windows */
  padding: 50px;
  box-sizing: border-box;
  
  overflow-y: auto;
}

.retro-window {
  flex-shrink: 0;

  position: relative;
  width: 640px; /* img size */
  height: 524px;
  background: url('images/retrowindow.png') no-repeat;
  background-size: 100% 100%;
  overflow-y: auto;
}

.retro-content {
  position: absolute;
  top: 74px;    /* where the white screen starts */
  left: 11px;
  right: 28px;
  bottom: 39px; /* where the white screen ends */
  background:#CECFE1;
  overflow-y: auto;      /* scroll inside */
  overflow-x: hidden;
  padding: 10px;
}




/* OTHER CUSTOMIZATIONS */
h1 {
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #271C4A;

    font-size: 80px;
    margin-bottom: 10px; /* closer to h2 */
}

h2 {
    font-family: "kinuta-shin-enpitsu-it-stdn", sans-serif;
    font-weight: 900;
    font-style: normal;

    font-size: 37px;
    margin-top: 10px; /* closer to h1 */
    padding: 9px; /* adjust aligning */
    
}

h3{
    font-family: "kinuta-shin-enpitsu-it-stdn", sans-serif;
    font-weight: 550;
    font-style: normal;
    color: #3c49a2;

    padding-top: 10px;
    line-height: 1.4;
}

p{
  font-family: "kinuta-shin-enpitsu-it-stdn", sans-serif;
    font-weight: 600;
    font-style: normal;

    padding-top: 10px;
    line-height: 2;
    font-size: 16px;
    color: #323458;
    
}

.spacing {
    margin-bottom: 30px;
}


a {
  color: #3c49a2;
  transition: all 0.2s ease; /* hover effect */
}

a:hover {
  color: #e5e8f9;
  font-weight: bold;
  background-color:#8493b6;
  padding: 2px 4px;       /* improve highlight look */
  border-radius: 3px;
}

