@import url("https://use.typekit.net/xmi1euk.css");


* {
    box-sizing: border-box; /* prevents horz scrolling */
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    height: 100vh;
    cursor: url('images/cursor.png'), auto;
}

/* left sidebar */
.left {
    background: url('images/IMG_0168.JPG') center / cover no-repeat;

    flex: 0 0 25%;
    padding: 40px;
    box-sizing: border-box;
    overflow: hidden; /* This might be my new favorite syntax :)*/
}

/* right | photo area */
.right {
  background: url('images/IMG_0166.JPG') top / cover no-repeat;
  
  flex: 0 0 75%;
  padding: 50px;
  display: flex;
  justify-content: center;   
  box-sizing: border-box;
  overflow-y: auto; /* if scrolling is necessary to see all photos*/
}

.right-container { /* formatting 10 images */
  display: flex;
  flex-direction: column;
  gap: 30px; 
  padding: 20px;
  overflow-y: auto;
}

.textbox {
  background-color: white;
  padding: 15px;
  border-radius: 8px;
  width: 80%;
  margin: 0 auto;
  box-sizing: border-box;
}



/* OTHER CUSTOMIZATIONS */
h1 {
    font-family: "subway-new-york-std", sans-serif;
    font-weight: 400;
    font-style: normal;

    font-size: 80px;
    margin-bottom: 10px; /* closer to h2 */
}

h2 {
    font-family: "kinuta-shin-enpitsu-it-stdn", sans-serif;
    font-weight: 900;
    font-style: normal;

    font-size: 37px;
    margin-top: 10px; /* closer to h1 */
    padding: 9px; /* adjust aligning */
    
}

h3{
    font-family: "kinuta-shin-enpitsu-it-stdn", sans-serif;
    font-weight: 550;
    font-style: normal;

    padding-top: 10px;
    line-height: 1.4;
}

.spacing {
    margin-bottom: 30px;
}


a {
  color: #3c49a2;
  transition: all 0.1s ease; /* hover effect */
}

a:hover {
  color: #e5e8f9;
  font-weight: bold;      /* make it bold */
  background-color:#8493b6;
  padding: 2px 4px;       /* improve highlight look */
  border-radius: 3px;
}
